/* global fonts and colors */
:root{
--font-primary-heading: "Henny Penny", cursive;
--font-secondary-heading: "Pattaya", sans-serif;
--font-text: 'Roboto', sans-serif;
/* color setup */
--color-purple-bg: #9453A6;
--color-green-bg: #8CBF3F;
--color-yellow-main-bg: #F2CC0F;
--color-white-fr: #F2F2F2;
--color-black-fr: #0D0D0D;
}
section{
    background-color: var(--color-purple-bg);
}
.about-header{
    background-color:var(--color-green-bg);
    color: var(--color-purple-bg);
     padding: 15px;
    font-weight: 700;
}

.about-secheader{
   background-color: #9453A6;
   color: #F2CC0F;
   
   padding: 15px;
   font-weight: 700;
}

.about-trdheader{
    background-color:rgb(0, 0, 0);
    color: var(--color-green-bg);
    
    padding: 15px;
    font-weight: 700;
}
.about-fortheader{
    background-color: #c5c50c;
    color: var(--color-purple-bg);
    padding: 15px;
    font-weight: 700;
}

.about-first-header{
    background-color: #c5c50c;
    text-align: center;
    padding: 15px;
    font-size: 4.5vw;
}

.mayor-img{
    text-align: center;
    margin: 20px;
    
}

.mayor-img img{
    border: #2ce10d solid 2px;
    border-radius: 30px;
}
.about-mayor{

    color: var(--color-white-fr);
    background-color: rebeccapurple;
     padding: 15px;
    font-size: 15;
}
