:root{
--font-primary-heading: "Henny Penny", cursive;
--font-secondary-heading: "Pattaya", sans-serif;
--font-text: 'Roboto', sans-serif;
/* color setup */
--color-purple-bg: #9453A6;
--color-green-bg: #8CBF3F;
--color-yellow-main-bg: #F2CC0F;
--color-white-fr: #F2F2F2;
--color-black-fr: #0D0D0D;
}

.section{

    display: flex;
    justify-content: center;
    padding: 10px;
    
}

form{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:var(--color-white-fr);
    width: 30.5%;
    margin:20px auto; 
    row-gap: 5px;
}

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 350px;
}
#fname{
    margin-left: 3px;
}
#lname{
    margin-left: 6px;
}
#email{
    margin-right: 5px;
}
#password{
    margin-right: 9px;
}
#err{
    margin-right: 7%;
    display: flex;
    flex-direction: column;
}
#btn{
    margin-top: 5px;
    margin-right: 10%;    
    padding: 5px;
    font-family: var(--font-secondary-heading);
    color:var(--color-purple-bg);
    font-size: 25px;
    border-radius: 10px;
    background-color:#e1d176cf;
}
#btn:hover{
    background-color: #f56600fc;
}

#fname{
    background-color:#e1d176cf;
}
#lname{
    background-color:#e1d176cf;
}
#email{
    background-color:#e1d176cf;
}
#password{
    background-color:#e1d176cf;
}

#fname:focus{
    background-color: #9453A6;
}
#lname:focus{
    background-color: #9453A6;
}
#email:focus{
    background-color: #9453A6;
}
#password:focus{
    background-color: #9453A6;
}

#fname:hover{
    background-color:#F2CC0F;
}
#lname:hover{
    background-color:#F2CC0F;
}
#email:hover{
    background-color:#F2CC0F;
}
#password:hover{
    background-color:#F2CC0F;
}

label:hover{
    color: var(--color-purple-bg);
}