/* global fonts and colors */
:root{
--font-primary-heading: "Henny Penny", cursive;
--font-secondary-heading: "Pattaya", sans-serif;
--font-text: 'Roboto', sans-serif;
/* color setup */
--color-purple-bg: #9453A6;
--color-green-bg: #8CBF3F;
--color-yellow-main-bg: #F2CC0F;
--color-white-fr: #F2F2F2;
--color-black-fr: #0D0D0D;
}

/* contact form mobile style */

form{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:var(--color-white-fr);
    width: 30.5%;
    margin:20px auto; 
    row-gap: 5px;
}

#btn{
    margin-top: 5px;
    margin-right: 10%;    
    padding: 5px;
    font-family: var(--font-secondary-heading);
    color:var(--color-purple-bg);
    font-size: 25px;
    border-radius: 10px;
    background-color:#e1d176cf;
}
#btn:hover{
    background-color: #f56600fc;
}

.mapouter{
    
    display: none;
}

.cityhall-address{
    color: #739e33;
    text-align: center;
    font-weight: 700;
}
.cityhall-phone{
    color: #739e33;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;}

.mapouter-mobile{
    
    margin: auto;
    display: flex;
    justify-content: center;
}

article{
    padding: 5%;
}

.cityhall-heading{
    color: var(--color-purple-bg);
    margin-bottom: 20px;
    
}

#fname{
    background-color:#e1d176cf;
    margin-top: 5px;
}
#lname{
    background-color:#e1d176cf;
    margin-top: 5px;
}
#email{
    background-color:#e1d176cf;
    margin-top: 5px;
}
#password{
    background-color:#e1d176cf;
    margin-top: 5px;
}


.text-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#freetxt{
    background-color:#e1d176cf;
    margin-right: 2%;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid #777676;
    border-bottom: 2px solid #777676;
    margin-top: 5px;
}

#fname:focus{
    background-color: #9453A6;
    
}
#lname:focus{
    background-color: #9453A6;
}
#email:focus{
    background-color: #9453A6;
}
#password:focus{
    background-color: #9453A6;
}
#freetxt:focus{
    background-color: #9453A6;
}





/* contact form desktop style */
@media screen and (min-width: 800px){
.section{

    display: flex;
    justify-content: center;
    padding: 10px;
    
}

form{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:var(--color-white-fr);
    width: 30.5%;
    margin:20px auto; 
    row-gap: 5px;
}

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 35vw;
}
#err{
    margin-right: 7%;
    display: flex;
    flex-direction: column;
}
#btn{
    margin-top: 5px;
    margin-right: 10%;    
    padding: 5px;
    font-family: var(--font-secondary-heading);
    color:var(--color-purple-bg);
    font-size: 25px;
    border-radius: 10px;
    background-color:#e1d176cf;
}
#btn:hover{
    background-color: #f56600fc;
}

#fname{
    background-color:#e1d176cf;
    margin-left: 3%;
}
#lname{
    background-color:#e1d176cf;
    margin-left: 4%;
}
#email{
    background-color:#e1d176cf;
    margin-left: 1%;
}
#password{
    background-color:#e1d176cf;
}
.text-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#freetxt{
    background-color:#e1d176cf;
    margin-right: 2%;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid #777676;
    border-bottom: 2px solid #777676;
}

#fname:focus{
    background-color: #9453A6;
}
#lname:focus{
    background-color: #9453A6;
}
#email:focus{
    background-color: #9453A6;
}
#password:focus{
    background-color: #9453A6;
}
#freetxt:focus{
    background-color: #9453A6;
}

#fname:hover{
    background-color:#F2CC0F;
}
#lname:hover{
    background-color:#F2CC0F;
}
#email:hover{
    background-color:#F2CC0F;
}
#password:hover{
    background-color:#F2CC0F;
}
#freetxt:hover{
    background-color:#F2CC0F;
}

label:hover{
    color: var(--color-purple-bg);
}
/* end of contact page desktop style */

article{
    padding: 50px;
    
}
.cityhall-heading{
    color: var(--color-purple-bg);
    margin-bottom: 20px;
    
}
.cityhall-address{
    color: #739e33;
    text-align: center;
    font-weight: 700;
}
.cityhall-phone{
    color: #739e33;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
.mapouter{
    display: block;
    margin: auto;

}
.mapouter-mobile{
    display: none;
}
}