:root{
--font-primary-heading: "Henny Penny", cursive;
--font-secondary-heading: "Pattaya", sans-serif;
--font-text: 'Roboto', sans-serif;
/* color setup */
--color-purple-bg: #9453A6;
--color-green-bg: #8CBF3F;
--color-yellow-main-bg: #F2CC0F;
--color-white-fr: #F2F2F2;
--color-black-fr: #0D0D0D;
}
section{
   padding-top: 20px;
   padding-bottom: 20px;

}

.faqContiner{
    width: 70vw;
    margin: auto;  
}
.faqContiner .question:first-child{
    border-radius:25px 25px 0 0;
}
.faqContiner .question:nth-child(7){
    border-radius: 0 0 25px 25px;
}
.question-close{
    border-radius:0 ;
    background-color: var(--color-white-fr);
    border-image: linear-gradient(to right , #260B3C, #25e01e);
    padding: 20px 10px;   
}
.question-close:hover{
    background-color:var(--color-yellow-main-bg);
}
.faqContiner .answer:last-child{
    border-radius:0 0 25px 25px;
}

.question{
    background-color: var(--color-white-fr);
    border-image: linear-gradient(to right , #260B3C, #25e01e);
    padding: 20px 10px;       
}
.question:hover{
    background-color:var(--color-yellow-main-bg);
}
.answer{
    display: none;
}
.answer-active{
    display: block;
    background-color: var(--color-purple-bg);
    padding: 30px 10px;
}

