/* fonts: */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap');

:root{
--font-primary-heading: "Henny Penny", cursive;
--font-secondary-heading: "Pattaya", sans-serif;
--font-text: 'Roboto', sans-serif;
/* color setup */
--color-purple-bg: #9453A6;
--color-green-bg: #8CBF3F;
--color-yellow-main-bg: #F2CC0F;
--color-white-fr: #F2F2F2;
--color-black-fr: #0D0D0D;
}


*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: aquamarine;
    grid-template-areas: 
    "nav nav nav"
    "section section section"
    "article article article"
    "footer footer footer";
     grid-template-rows: 4fr 10fr 7fr 1fr;
}

nav{
     grid-area: nav;
     width: 100vw;
     background-color: rgb(80, 107, 110);
}
section{
    grid-area: section;
    background-color: rgb(2, 189, 133);
}
article{
    grid-area: article;
    background-color: rgb(231, 53, 106);
}
footer{
    grid-area: footer;
    background-color: var(--color-green-bg);
    padding: 20px;
}
h1{
  font-family: var(--font-primary-heading);
}
h3{
  font-family: var(--font-secondary-heading);
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
p{
    font-family: var(--font-text);
}
a{
  text-decoration: none;
  color: #0D0D0D;
  font-family: var(--font-text);
  transition: all 0.2s ease-in-out;
}
a:hover{
  color: var(--font-text);
  transition: all 0.2s ease-in-out;
}
img{
  width: 225px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.nav-toggle:active {
  transform: rotate(90deg);
}
.mardi-gras-logo {
    width: 20%;
    height: 120px;
}
.links a {
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  padding-left: 1.5rem;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  list-style-type: none;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle:hover {
  transform: rotate(90deg);
}
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .mardi-gras-logo {
    width: 100%;
    height: 100px;
}
}




  .copyright{
    text-align: center;
  }
  .modal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    gap: 20px;
  }
  .modal{
    flex-basis: 18vw;
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: white;
    border-radius: 20px;
    border: 0px;
  }
  .modal:nth-child(4){
  background-color: white;
  background-size: 72%;
}
.modal:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.modal:active{
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
.modal-content{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content-active{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--color-purple-bg);
  color: #F2F2F2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 50px;
  width: 80%;
}
.modal-close {
  color: rgb(63, 17, 17);
  float: left;
  font-size: 28px;
  font-weight: bold;
}
.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


